<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Example App</title>
    </head>
    <body>
        <a href="/home">Home</a>
        <h1>Records for {{gameId}}</h1>
        <form class="form-horizontal" method="POST">
            <fieldset>

            <!-- Form Name -->
            <legend>Insert Record</legend>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="name">Name</label>  
                    <div class="col-md-4">
                        <input id="player" name="Name" type="text" placeholder="name" class="form-control input-md">
                    </div>
                </div>

                <!-- Number input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="name">Name</label>  
                    <div class="col-md-4">
                        <input id="score" name="Score" type="number" placeholder="score" class="form-control input-md">
                    </div>
                </div>

                <!-- Button -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="sendBtn"></label>
                    <div class="col-md-4">
                        <button id="sendBtn" type="submit" name="sendBtn" class="btn btn-primary">Send</button>
                    </div>
                </div>
            </fieldset>
        </form>
        {{#each games}}
            <ul>
                <li><p>Name: {{player}} </br>score: {{score}} </br>date: {{date}}</p></li>
            </ul>
        {{/each}}
        
    </body>
</html>